# This notebook is for the Applied Data Science Capstone project

In [2]:
import pandas as pd
import numpy as np

In [3]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

# Question one

In [56]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_neighbourhoods_in_Toronto'
pd.read_html(url)
dfs = pd.read_html(url)
a = []
b = []
c = []
for i in dfs:
    try:
        a.append(i['CDN number'])
        b.append(i['Former city/borough'])
        c.append(i['City-designated neighbourhood'])
    except:
        continue

df = pd.DataFrame(a).T
df.rename(columns={'CDN number':'Postal Code'}, inplace=True)
df['Borough'] = pd.DataFrame(b).T
df['Neighbourhood'] = pd.DataFrame(c).T
df

     Postal Code              Borough                 Neighbourhood
0            129          Scarborough               Agincourt North
1            128          Scarborough  Agincourt South-Malvern West
2             20            Etobicoke                     Alderwood
3             95  Old City of Toronto                         Annex
4             42           North York             Banbury-Don Mills
..           ...                  ...                           ...
135           94  Old City of Toronto                      Wychwood
136          100  Old City of Toronto            Yonge and Eglinton
137           97  Old City of Toronto                Yonge-St.Clair
138           27           North York       York University Heights
139           31           North York            Yorkdale-Glen Park

[140 rows x 3 columns]

In [58]:
df.shape

(140, 3)

# Question 2

In [174]:
import pandas as pd
import re
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
pd.read_html(url)
dfs = pd.read_html(url)
a = []
b = []
c = []
pattern = '^([a-zA-Z0-9]{3})'
pattern1 = '^[a-zA-Z0-9]{3}([\s\S]*)\({0,1}'

df = dfs[0]
for i in df.index:
    for j in range(9):
        a.append(re.findall(pattern,df[j][i]))
        y = (re.findall(pattern1,df[j][i]))
        b.append((y[0].split("("))[0])
        try:
            c.append(((y[0].split("("))[1]).split(")")[0])
        except:
            c.append(0)

df = pd.DataFrame(a)
df.rename(columns={0:'Postal Code'},inplace=True)
df['Borough'] = pd.DataFrame(b)
df['Neighbourhoods'] = pd.DataFrame(c)
df = df[~(df['Borough'] == 'Not assigned')]
df

,Postal Code,Borough,Neighbourhoods
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Queen's Park,Ontario Provincial Government
...,...,...,...
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East TorontoBusiness reply mail Processing Cen...,Enclave of M4L
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

In [175]:
df.describe()

       Postal Code     Borough Neighbourhoods
count          103         103            103
unique         103          15             98
top            M1J  North York      Downsview
freq             1          24              4